.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
}

.Hero ~ hr {
  background-color: var(--dark-grey);
  margin: 0;
  border: none;
  height: 10px;
}
