main {
  padding: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: radial-gradient(var(--dark-grey), #000);
}

.Purchase__Form {
  max-width: 826px;
  padding: 18px 30px;

  .Button {
    align-self: flex-end;
  }
}

.Purchase__CardDeck {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

.Login__Form {
  max-width: 672px;
  padding: 60px;

  .Button {
    align-self: center;
  }
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.posters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  justify-items: center;
  margin-bottom: 50px;
}

.SingleContentItem {
  box-sizing: border-box;
  max-width: 960px;
  padding: 53px;
  display: flex;
  flex: 1;

  &__Button {
    margin-right: 22px;
  }
}

//for css transition

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
