.Poster {
  position: relative;
  width: 400px;

  &__image {
    max-width: 100%;
  }

  &__text {
    padding: 10px 20px;
    background-color: #222222;
    position: absolute;
    bottom: 0;
  }

  // //transitions
  // &-enter {
  //   opacity: 0;
  //   transform: scale(0.9);

  //   &-active {
  //     opacity: 1;
  //     transform: translateX(0);
  //     transition: opacity 300ms, transform 300ms;
  //   }
  // }
  // &-exit {
  //   opacity: 1;
  //   &-active {
  //     opacity: 0;
  //     transform: scale(0.9);
  //     transition: opacity 300ms, transform 300ms;
  //   }
  // }
}
