body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  background-color: #222222;
  font-size: 16px;
  line-height: 19px;
  color: #e5e5e5;
}

.logo {
  font-size: 3em;
  color: #d22f27;
  font-weight: 600;
  -webkit-text-stroke: 1px #d22f27;
}
