:root {
  --primary: #d22f27;
  --primary-active: #9c070e;
  --dark-grey: #222;
  --light: #e5e5e5;
}

body {
  min-height: 100vh;
  display: flex;
  margin: 0;
  background-color: black;
  color: var(--light);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  text-decoration: none;
  font-size: 3em;
  color: var(--primary);
  font-weight: 600;
  -webkit-text-stroke: 1px var(--primary);
}

.flex {
  display: flex;
}
